@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Veneer";
  src: url("./assets/fonts/Veneer.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-veneer {
  font-family: "Veneer", sans-serif;
}

:root {
  --sienna: #b1560e;
  --sienna-2: #92633a;
  --white: #fff;
  --black: #000;
  --tan: #c19f71;
  --papaya-whip: #eae0c7;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--papaya-whip);
}

.text-stroke {
  -webkit-text-stroke: 1px var(--sienna);
}

.bottle-transition {
  filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, 0.15));
  transform: rotate(20deg);
  transition: filter 0.3s ease;
}

.stamp-filter {
  transform: translate(-50%, -50%) rotate(-20deg) scale(100);
  filter: brightness(0.5);
}